[data-tab-key="friends"] > span {
  display: none !important;
}

[role="tab"][name="All Friends"] > span:nth-child(2) {
  display: none !important;
}

.timelineReportContainer [role='article'] div span a {
  display: none !important;
}
